.logo {
    width: 160px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    padding: 10px;
    margin-bottom: 0.1rem;
}

ul {
    display: flex;
    gap: 30px;
    color: #fff;
    list-style: none;
    padding: 0;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
}

ul, a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #daa520;
}

section {
    max-width: 900px;
    margin: 0 auto;
}

.principal {
    background-color: #000000;
}

.banner, img {
    /* margin: 0 auto; */
    width: 100%;
    height: 450px;
}

h1 {

    text-align: center;
    margin-top: 4rem;
    font-family: 'Economica', sans-serif;
}

h1, p {
    text-align: center;
}

p {
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-family: 'Economica', sans-serif;
    font-size: 24px;
}

span {
    color: #daa520;
}

.grao-cafe {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 5px navajowhite;
}

.container-coffee {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin-top: 4rem;
    /* margin-left: 4rem; */
}

.text-service {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 10rem;
    text-align: center;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 0;
    padding: 10px 15px;
}

.menu-title {
    color: #daa520;
    font-family: 'Economica', sans-serif;
}

.card-title {
    color: #daa520;
    border: solid 1px #daa520;
    padding: 3px 10px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.card-text {
    color: #daa520;
}

.card-subtitle {
    text-align: center;
    margin-top: 1rem;
    color: #daa520;
    font-family: 'Economica', sans-serif;
}

.content-menu {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.card-link {
    text-align: end;
    font-size: 12px;
}

.botao {
    font-family: 'Economica', sans-serif;
    font-size: 16px;
}

button.blue {
    color: #fff;
    background-color: blue;
    padding: 0 10px;
}

button.black {
    color: #fff;
    background-color: black;
}

.coisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.botoes {
    display: flex;
    gap: 10px;
}